/* Header */

.header {
  display: flex;
  padding: 92px 53px 92px 51px;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 33px;
  justify-content: space-between;
  list-style-type: circle;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.link__underline {
  text-underline-offset: 4px;
}

.header__logo {
  width: 135px;
  margin: 0 150px 0px 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

/* Cover Section */

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 50px 0 50px;
  width: 100%;
  position: relative;
  z-index: 1;
}


.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.6;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-size: 100px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;

}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.zero-spacing {
  letter-spacing: 0px;
}

h1 > span.aligned-text.aligned-text_center.no-letter-spacing {
  line-height: 110%;
}

h1 > span.aligned-text.aligned-text_right.letter-spacing-extended {
  line-height: 95%;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding: 136px 0 50px 372px;
}

.cover__description-text {
  padding-top: 13px;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;

}

.bet-button {
  width: 257px;
  height: 52px;
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.cover__description-text_word {
  padding-left: 4px;
}

/*Lots Section*/

.lots {
  padding: 180px 50px 0 50px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  }

.lots__card-list {
  padding: 27px 0 30px 0;
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 430px;
  padding: 50px 40px;

}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  color: #FFF;
  font-size: 22px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
